//Colors
$brand-primary:         #322A42 !default; //1F2229
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

//Navbar inverse
$navbar-inverse-bg:		#322A42 !default;
$navbar-inverse-color: #D7D6D2;
$navbar-inverse-link-color: #C3AD3E;
$navbar-inverse-link-hover-color: #FFF;

$icon-font-path: "../fonts/bootstrap/";